
<!DOCTYPE html>
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Coursehero免费会员账号|Coursehero文件下载 免费共享分享|Chegghero文件解锁|Coursehero账户破解|Course Hero Unlock 帳號|淘宝兑换码|CheggHero|
             Coursehero Unlock|Coursehero Prime|Chegg Answer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CourseHero Unlock Services</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/statics/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/statics/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/statics/assets/css/form-elements.css">
        <link rel="stylesheet" href="/statics/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <!--
        <link rel="shortcut icon" href="/statics/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/statics/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/statics/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/statics/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/statics/assets/ico/apple-touch-icon-57-precomposed.png">
    -->
        <style>
			body {
				margin: 0;
				padding: 0;
				font-family: 'Arial', serif;
			}
			.nav {
				background-color:#ffffff;
				color: #000000;
				list-style: none;
				text-align:right;
				padding: 20px 0 0 0;
			}
			.nav > li{
				displayy: inline-block;
				padding: 0 25px 0 25px;
				font-size: 12px;
			}
			.nav > li > a{
				text-decoration: none;
				color: #000000;
			}
			.nav> li > a:hover{
				color: #clclcl;
			}
			.logo{
				color: #000000;
				float: left;
				padding-left: 25px;
				font-size: 16px;
				font-weight: bold;
			}
			.logo > a{
				text-decoration: none;
				color: #000000;
			}
			.banner{
				width: 100%;
				display: block;
			}
			#instr {
                text-decoration: underline;
            }
        </style>
                <!-- Javascript -->
            <script src="/statics/assets/js/jquery-1.11.1.min.js"></script>
            <script src="/statics/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/statics/assets/js/jquery.backstretch.min.js"></script>
            <script src="/statics/assets/js/scripts.js"></script>
            <script src="../lib/jquery.js"></script>
            <script src="../dist/jquery.validate.js"></script>
        <script>
            $.validator.setDefaults({
                submitHandler: function() {
                    alert("submitted!");
                }
            });

            $().ready(function() {
                // validate the comment form when it is submitted
                $("#unlockForm").validate();

                // validate signup form on keyup and submit
                $("#unlockForm").validate({
                    rules: {
                        code: {
                            required: true,
                            minlength: 8,
                            maxlength: 8
                        },
                        url: {
                            required: true,
                            url: true
                        },
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        code: "Please enter a valid activation code",
                        url: "Please enter a valid coursehero link",
                        email: "Please enter a valid email address"
                    }
                });
            });
        </script>
    </head>

    <body data-gr-c-s-loaded="true">


        <ul class="nav"> 
			<div class = "logo">
				<a href = "/"> <font size = "5" color = "black" face = "times new roman"> CheggHero™</a> </font></div>
			<!--
			<li><a href="#">Chegg作业答案解锁</a></li>
			-->
			<!--
			<li><a href="#">联系我们</a></li>
			-->
			<li><a href="/english">English</a></li>
		</ul>

    	<div class="top-content">
    	    <div class="inner-bg">
    	        <div class="container">
    	            <!-- 欢迎语 -->
    	            <div class="row">
    	                <div class="col-sm-10 col-sm-offset-1 form-box">
    	                    <!-- top -->
    	                    <div class="form-top">
    	    
    	                        <div class="form-top-left">
	
    	                            <h3 id="t5">CheggHero文件解锁系统现正推行内测版<!--(维护中)--></h3>
    	                            <p id="t4">我们致力用最快的速度为您自动解锁 CouseHero 上的任何文档, 内测期间您只需支付1元即可解锁指定文件</p>
    	                            <!--<p> <a style="color:beige" href="https://youtu.be/v5lsD-1CIcM" id="instr">[视频操作指南]</a></p>-->
    	                        </div>
	
    	                    </div>
	
    	                    <!-- bottom -->
    	                    <div class="form-bottom">
	
    	                        <form role="form" action="/unlock" method="get" class="login-form" enctype="multipart/form-data" id="unlockForm">
    	                            <!-- 兑换码 -->
    	                            <div class="form-group" id="t1">
    	                                <label class="sr-only" for="form-password">兑换码</label>
    	                             	<input type="text" name="code" placeholder="兑换码" class="form-password form-control" id="form-password" required>
    	                            </div>
    	                            <!-- 网址 -->
    	                            <div class="form-group" id="t2">
    	                                <label class="sr-only" for="form-username">网址</label>
    	                                <input type="text" name="url" placeholder="CourseHero文件网址" class="form-username form-control" id="form-username" required>
    	                            </div>
    	                            <!-- 邮箱 -->
    	                            <div class="form-group" id="t3">
    	                                <label class="sr-only" for="form-password">邮箱</label>
    	                                <input type="text" name="email" placeholder="您的邮箱" class="form-email form-control" id="form-email" required>
    	                            </div>
    	                            <!-- submit -->
    	                            <button type="submit" class="btn" onclick="myFunction()" id="tt">Unlock File</button>
    	                            <!-- description -->
    	                            <div class="description">
    	                            <p ><a id="60s" style="display:none">
    	                                <strong> 文件正在解锁 请耐心等待 请勿刷新或关闭页面 如未收到解锁文件请联系客服微信d8tltanc 我们会第一时间为您处理 </strong></a></p>
    	                            </div>
	
    	                        </form>
    	                    </div>
    	                </div>
    	            </div>
    	            <!-- 底部 -->
    	            <div class="row">
    	                <div class="col-sm-8 col-sm-offset-2 social-login">
    	                    <!-- button -->
    	                    <div class="social-login-buttons">
    	                        <!--
    	                        <a class="btn btn-link-2" id="bt1" onClick="window.open('https://item.taobao.com/item.htm?id=541676859032')"> 获取兑换码 </a>
    	                        -->
    	                        <a class="btn btn-link-2" id="bt2" onClick="window.open('http://www.zuopay.com/details/1BFD17E977E53DFA')"> 支付宝微信扫码1元获取兑换码</a>
    	                    </div>
    	                </div>
    	            </div>
    	            <!-- foottage -->
    	            <div class="login_footer"> 
    	                <div class="container"> 
    	                    <div class="row footer"> 
    	                        <div class="col-sm-10 col-sm-offset-1">
    	                            <font size = "3" color = "white">© 2018 CheggHero www.chegghero.com ·</font>
    	                            <!-- title -->
    	                            <font size = "3" color = "white">Redifining the future of Course Hero unlock services ·</font>
    	                            <a href="mailto:chegghero@hotmail.com"> <font size = "3" color = "Lime"> <strong>联系我们</strong> ·</font> </a> 
    	                        </div> 
    	                    </div> 
    	                </div> 
    	            </div>
    	        </div>
    	    </div>	
    	</div>
    	<script>
        	function myFunction() {
	
        	    var change = document.getElementById("tt");
        	    var change1 = document.getElementById("t1");
        	    var change2 = document.getElementById("t2");
        	    var change3 = document.getElementById("t3");
        	    var ch = document.getElementById("60s");
	
        	    if (change.innerHTML === "Unlock File")
        	    {
        	        //window.open('/s', '_blank');
        	        change.innerHTML = "Unlock Again";
        	        change.style.display = "none";
        	        change1.style.display = "none";
        	        change2.style.display = "none";
        	        change3.style.display = "none";
	
        	    }
        	    else {
        	        //window.open('/s', '_blank');
        	        change.innerHTML = "Unlock File";
        	        change.style.display = "none";
        	        change1.style.display = "none";
        	        change2.style.display = "none";
        	        change3.style.display = "none";
	
        	    }
        	    ch.style.display = "block";
        	    setTimeout(function(){ change.style.display = "block"}, 15000);
        	    setTimeout(function(){ change1.style.display = "block"}, 15000);
        	    setTimeout(function(){ change2.style.display = "block"}, 15000);
        	    setTimeout(function(){ change3.style.display = "block"}, 15000);
        	    setTimeout(function(){ ch.style.display = "none"}, 15000);
        	}
	
        	function myFunction2() {
	
        	    var change = document.getElementById("tt");
        	    change.style.display = "block";
        	}
    	</script>
    
    </body>

</html>